/*Element Selector*/
p {
	font-size: 20px;
	text-align: center;
}

h1 {
	color: red;
	text-align: center;
}

img {
	height: 400px;
	width: 400px;
	margin-right: 485px;
	margin-left: 500px;
	
}

audio {
	margin-left: 575px;
	margin-right: 450px;
}

/*Class Selector*/

.body {
	color: red;
	text-align: center;
}

.name {
	color: red;
	text-align: center;
}

.music {
	text-align: center;
	font-family: courier new;

}

